.video-wrapper {
  width: 98vw;
  display: flex;
  margin-left: auto;
  margin-right: auto;

  .video-wrapper__left {


    .video {
      width: 75vw;
      height: 50vh;
      background-color: rgb(176, 46, 46);
      border-radius: 20px;
    }

    h4 {
      margin: 0;
      font-size: 22px;
      opacity: 0.9;
      margin-top: 10px;
    }

    .div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      opacity: 0.8;

      
      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        
        li {
          margin-left: 20px;
          cursor: pointer;
        }
      }
      
      p {
        margin: 0;
        padding: 0;
      }
      h6 {
        margin: 0;
        padding: 0;
      }

    }
  }
}

.date {
  margin: 0;
  font-size: 10px;
  opacity: 0.5;
}

.parag {
  padding: 0;
  margin: 0;
  width: 60vw;
  margin: 10px 0;
}

.video-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 85vh;
  width: 20vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: auto;

  a {
    text-decoration: none;
  }

  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255, 217, 0);
    border-radius: 15px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border-radius: 5px;
  }

  .video-list__item {
    border: 1px solid rgb(73, 70, 70);
    margin-bottom: 10px;

    h1, h2 {
      margin: 0;
      color: #000;
      font-size: 15px;
    }
  }
}